html, body {
	font-family: 'Conso', "Courier New";
	font-size: 13px;
	height: 100%;
	margin: 0;
	color: white;
}

body {
	box-sizing: border-box;
	background-color: #021E27;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

input {
	border: none;
	background: transparent;
	border-bottom: 1px dashed white;
	padding: 5px;
	outline: none;
	color: white;
	margin-top: 10px;
}

p {
	word-wrap: break-word;
	margin: 0;
}

a {
	color: white;
}

#login-box {
	width: 400px;
	text-align: center;
	padding-top: 23%;
	margin: auto;
}

#login-logo {
	width: 250px;
}

#logo {
	width: 100%;
}

#app {
	width: 100%;
	height: 100%;
}

#nav {
	background: #032630;
	padding: 20px;
}

#pinned {
	background: #032630;
	padding: 20px;
}

#user {
	color: white;
	margin-top: 5px;
}

#content {
	height: 100%;
	background: #04303d;
}

#tchat {
	padding: 20px;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

#message-list {
	height: calc(100% - 30px);
	overflow: auto;
	flex: 1;
}

.message-div {
	color: white;
	padding-top: 10px;
	display: flex;
}

.message-date {
	color: #5f5f5f;
	width: 160px;
	min-width: 160px;
}

.username {
	min-width: 30px;
}

.message {
	flex: auto;
	margin: 0;
	padding-left: 10px;
}

.message-status {
	font-style: italic;
}

.inputs {
	margin: 20px;
}

.input-message {
	width: calc(100% - 20px);
}

button:hover, a:hover {
	background: #0096c1;
	color: #00303e;
	cursor: pointer;
}

.blue-link {
	color: #66d9ef;
}

.green-link {
	color: #a6e22e;
}

.red-link {
	color: #ec007c;
}

.green-text {
	color: #a6e22e;
}

.red-text {
	color: red;
}

.oneliner {
	display: inline-block;
	max-height: 20px;
	overflow: hidden;
	color: #999999;
	margin-top: 10px;
}

/* TESTING */
.split {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	overflow-y: auto;
	overflow-x: hidden;
}

.content {
	background-color: #fff;
}

.gutter {
	background-color: transparent;

	background-repeat: no-repeat;
	background-position: 50%;
}

.gutter.gutter-horizontal {
	cursor: col-resize;
	background-image: url('grips/vertical.png');
}

.gutter.gutter-vertical {
	cursor: row-resize;
	background-image: url('grips/horizontal.png');
}

.split.split-horizontal, .gutter.gutter-horizontal {
	height: 100%;
	float: left;
}