<template name="tchat">

    <div id="tchat">

        <audio id="audio-kozette-connection" preload="auto">
            <source src="sounds/kozette_connection.mp3" type="audio/mp3">
        </audio>
        <audio id="audio-kozette-disconnection" preload="auto">
            <source src="sounds/kozette_disconnection.mp3" type="audio/mp3">
        </audio>
        <audio id="audio-kozette-message" preload="auto">
            <source src="sounds/kozette_message.mp3" type="audio/mp3">
            <source src="sounds/kozette_message.ogg" type="audio/ogg">
        </audio>

        <div id="message-list">
            {{#each messages}}

                {{> Template.dynamic template=type}}

            {{/each}}
        </div>

        {{> message_input}}

    </div>

</template>