<template name="web_userslist">

    <span class="oneliner">// Users -----------------------------------------------------------</span>
    {{#each users_online}}
        <div id="user" style="color: {{profile.color}}">
            <span class="green-text bold">+</span>
            {{#if mute}}
                <span class="line-through">{{username}}</span>
            {{else}}
                {{username}}
            {{/if}}
            {{#if profile.status}}({{profile.status}}){{/if}}
        </div>
    {{/each}}
    {{#each users_offline}}
        <div id="user" style="color: {{profile.color}}">
            <span class="red-text bold">-</span>
            {{username}} {{#if profile.status}}({{profile.status}}){{/if}}
        </div>
    {{/each}}

</template>