<template name="login">

    <div id="login-box">
        <img id="login-logo" src="logo/kozette_large_transparent.png" alt="logo kozette">
        <form id="login-form" action="#">
            <div class="inputs">
                <input type="text" id="username" name="username" placeholder="Username"/>
                <br />
                <input type="password" id="password" name="password" placeholder="Password"/>
            </div>
            <a class="blue-link">[ Login ]</a>
            <a class="green-link">[ Register ]</a>
        </form>
    </div>

</template>