<template name="pinned_message">
    {{#let _user=user}}
        <div>
            <div>
              <span class="message-date" >[{{getDateFromNow created_at}}]</span>
              <span>
                <a class="blue-link remove-pinned">[ X ]</a>
              </span>
            </div>
            <div style="padding-top: 10px;">
            {{#if owner}}
              <span style="color: {{_user.profile.color}}">&lt;{{_user.username}}&gt;</span> {{{parseMessage}}}
            {{/if}}
            </div>
            <div class="oneliner">-----------------------------------------------------------</div>
            
        </div>
    {{/let}}

</template>