<template name="main">

    {{#if authenticated}}

        {{#if isMobile}}
            {{> mobile_app}}
        {{else}}
            {{> web_app}}
        {{/if}}

    {{else}}

        {{> login}}

    {{/if}}

</template>

<template name="web_app">

    <div id="content" class="split split-horizontal">
        {{> tchat}}
    </div>
    <div id="sidebar" class="split split-horizontal">
        <div id="nav" class="split content">{{> web_nav}}</div>
        <div id="pinned" class="split content">{{> web_pinned}}</div>
    </div>

</template>

<template name="mobile_app">

    {{> tchat}}
    {{> mobile_userslist}}

</template>
